@import "~./../../static/sass/helpers.scss";

.addNewSong {
    cursor: pointer;
    fill: $mountain-meadow;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0);
    transition: transform .3s, fill .3s;

    &.isOpen {
        fill: $wild-strawberry;
        transform: rotate(45deg);
    }
}
.wrapper {
    position: relative;
}