@import "~Sass/helpers.scss";

.addNewSection {
    @include square(32px);
    right: 20px;
    top: auto;
}
.close {
    cursor: pointer;
    font-size: 2.5em;
    line-height: .5;
    position: absolute;
    right: 20px;
    top: 20px;
}
.repertoire {
    border: 1px solid $gray-chateau;
    padding: 20px;
    position: relative;
}