@import "~Sass/helpers.scss";

.section {
  padding-top: 60px;
}

.sectionHeading {
  margin-bottom: .75em;
}
.sectionName {
  color: $gray-chateau;
  display: block;
  font-size: .75em;
  margin-bottom: .5em;
}

.song {
  padding-bottom: $padding--great;
}

.wrapper {
  padding-top: 100px;

  p {
    margin: 0;
  }
}