@import "~Sass/helpers.scss";

.edit {
    cursor: pointer;
    fill: $mountain-meadow;
    position: absolute;
    right: 30px;
    top: 4px;
}
.title {
    cursor: pointer;
}
.wrapper {
    position: relative;
}