@import "~Sass/helpers.scss";

.heading {
  cursor: pointer;
}

.edit {
  cursor: pointer;
  fill: $mountain-meadow;
  position: absolute;
  right: 30px;
  top: 4px;
}

.wrapper {
  position: relative;
}