@import "~Sass/helpers.scss";

.active {
    color: $mountain-meadow;
    font-weight: 700;
}
.song {
    cursor: pointer;
}
.wrapper {
    li {
        span {
            cursor: pointer;

            &:hover {
                text-decoration: line-through;
            }
        }
    }
}