@import "~./../../static/sass/helpers.scss";

.addNewRepertoire {
    position: absolute;
    right: 0;
    top: 0;
}
.wrapper {
    border-bottom: 1px solid $regent-gray;
    margin: 20px auto;
    position: relative;
}