@import "~Sass/helpers.scss";

.addNewRepertoire {
    @include square(32px);
    display: inline-block;

    svg {
       @include square(100%);
    }
}
.wrapper {
    border: 1px solid $regent-gray;
    margin: 20px auto 40px;
    padding: 20px;

    h2 {
        position: relative;
    }
}