@import "~Sass/helpers.scss";

.heading {
    cursor: pointer;

    &.dragOver {
        color: $mountain-meadow;
    }
}
.removeIcon {
    cursor: pointer;
    fill: $wild-strawberry;
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
}
.wrapper {
    position: relative;
}