@import "~Sass/helpers.scss";

.editIcon {
    cursor: pointer;
    fill: $mountain-meadow;
    font-size: 2em;
    line-height: 1;
    position: absolute;
    right: 30px;
    top: 2px;
    width: 20px;
}
.heading {
    cursor: pointer;

    &.dragOver {
        color: $mountain-meadow;
    }
}
.removeIcon {
    cursor: pointer;
    fill: $wild-strawberry;
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
}
.wrapper {
    position: relative;
}