@import "~./../../static/sass/helpers.scss";

.name {
    cursor: pointer;
}
.removeIcon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.title {
    position: relative;

    small {
        font-weight: 400;
    }
    svg {
        cursor: pointer;
        fill: $mountain-meadow;
        position: absolute;
        right: 30px;
        top: 5px;
    }
}
.wrapper {
    position: relative;
}